@font-face {
  font-family: "bungee";
  src: url("./assets/Bungee-Regular.ttf") format("truetype");
}

.title {
  font-family: "bungee", arial, sans-serif;
}

body {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
}